* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background-color: aqua;
  color: blue;
  border-radius: 50px;
  max-width: 80vw;
  margin: 0 auto;
}

.container {
  display: flex;
  width: 100vw;
}

.panel {
  height: 80vh;
  background-size: cover; /*bài 71*/
  background-position: center; /*bài 72*/
  background-repeat: no-repeat;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 1; /*bài 89.9*/
  margin: 10px;
  position: relative;
  transition: flex 0.1s; /*bài 97.1 */
}

.panel h3 {
  font-size: 24px;
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 2px 20px;
  border-radius: 15px;
}

.panel.active {
  flex: 10;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 1s 0.7s;
}

/* ẩn bớt phần tử khi màn hình nhỏ */
/* responsive 96.2 */
@media (max-width: 720px) {
  .panel:nth-of-type(4),
  .panel:nth-of-type(5),
  .panel:nth-of-type(6),
  .panel:nth-of-type(7),
  .panel:nth-of-type(8) {
    display: none;
  }
}
