div {
  border: red 2px solid;
}

#grandparent {
  width: 90vw;
  background-color: aliceblue;
}

#parent {
  width: 70vw;
  background-color: cyan;
}

#child {
  width: 50vw;
  background-color: yellowgreen;
}
